<!-- 
  <div class="cn-headerNotice">
    <div class="cn-wrapper cn-headerNotice__wrapper">
      The shop is closed for a short holiday. <span>All orders placed will ship after March 13, 2017.</span>
      Please <a href="//christynatsumi.com/about" style="color:#fff">visit our stockists</a> for immediate assistance. Thank you!
    </div>
  </div>
 -->