<div id="cn-mobileNav">
  <div id="cn-mobileNav__drawerBtn"></div>

  <div class="cn-mobileNav__scrollNav">
    <a class="cn-mobileNav__scrollNav__mobileTitle" itemprop="brand" href="/">
      <img src="{{ 'christynatsumi-logo-sm.png' | asset_url }}" width="100%"/>
    </a>

    <ul class="cn-mobileNav__scrollNav__menu dolceVita">
      <li><a href="/collections/">Shop</a></li>
      <ul>
        <li><a href="/collections/all">All</a></li>
        <li><a href="/collections/wedding">Wedding</a></li>
        <li><a href="/collections/earrings">Earrings</a></li>
        <li><a href="/collections/necklaces">Necklaces</a></li>
        <li><a href="/collections/rings">Rings</a></li>
        <li><a href="/cart">Cart: <span class="cn-cart-count"> </span></a></li>
      </ul>
      <li><a href="/pages/custom/">custom</a></li>
      <li><a href="/pages/about/">about</a></li>
      <li><a href="/pages/contact/">contact</a></li>
      <li><a href="/pages/lookbook/">lookbook</a></li>
      <li><a href="/journal/">journal</a></li>
      <li><a href="/pages/faq/">faq</a></li>
    </ul>
  </div>
</div>