<div id="cn-mobileNav">
  <div id="cn-mobileNav__drawerBtn"></div>

  <div class="cn-mobileNav__scrollNav">
    <a class="cn-mobileNav__scrollNav__mobileTitle" itemprop="brand" href="/">
      <img src="{{ 'christynatsumi-logo-sm.png' | asset_url }}" width="100%"/>
    </a>

    <ul class="cn-mobileNav__scrollNav__menu dolceVita">
      <li><a href="/shop">Shop</a></li>
      <ul>
        <li><a href="/shop">All</a></li>
        <li><a href="/shop?category=Wedding">Wedding</a></li>
        <li><a href="/shop?category=Earrings">Earrings</a></li>
        <li><a href="/shop?category=Necklaces">Necklaces</a></li>
        <li><a href="/shop?category=Rings">Rings</a></li>
        <li><a href="/commerce/show-cart">Cart: <span class="cn-cart-count"> </span></a></li>
      </ul>
      <li><a href="/pages/custom/">custom</a></li>
      <li><a href="/pages/about/">about</a></li>
      <li><a href="/pages/contact/">contact</a></li>
      <li><a href="/pages/lookbook/">lookbook</a></li>
      <li><a href="/journal/">journal</a></li>
      <li><a href="/pages/faq/">faq</a></li>
    </ul>
  </div>
</div>