<nav class="cn-header__sectnav cn-header__sectnav--store">
  <ul class="cn-wrapper">
    <li class="cn-header__sectnav__cart"><a href="/cart">Cart: <span class="cn-cart-count"> </span></a></li>
    <li class="cn-header__sectnav__all"><a href="/collections/all">All</a></li>
    <li class="cn-header__sectnav__wedding"><a href="/collections/wedding">Wedding</a></li>
    <li class="cn-header__sectnav__earrings"><a href="/collections/earrings">Earrings</a></li>
    <li class="cn-header__sectnav__necklaces"><a href="/collections/mecklaces">Necklaces</a></li>
    <li class="cn-header__sectnav__rings"><a href="/collections/rings">Rings</a></li>
    <!--<li class="cn-header__sectnav__arcn"><a href="/shop?category=ARCN">ARCN Collaboration</a></li>-->


    <!--
    <li class="cn-header__sectnav__style">
      <a class="cn-header__sectnav__subnav-title">Style</a>
      <ul class="cn-header__sectnav__subnav-list">
        <li><a href="/shop?category=Earrings">Earrings</a></li>
        <li><a href="/shop?category=Necklaces">Necklaces</a></li>
        <li><a href="/shop?category=Rings">Rings</a></li>
        <li><a href="/shop?category=Bracelets">Bracelets</a></li>
      </ul>
    </li>
    -->

    <!--
    <li class="cn-header__sectnav__materials">
      <a class="cn-header__sectnav__subnav-title">Materials</a>
      <ul class="cn-header__sectnav__subnav-list">
        <li><a href="/shop?category=Diamonds">Diamonds</a></li>
        <li><a href="/shop?category=Gold">Gold</a></li>
        <li><a href="/shop?category=Rose%20Gold">Rose Gold</a></li>
        <li><a href="/shop?category=Silver">Silver</a></li>
      </ul>
    </li>
    -->
  </ul>
</nav>