<nav class="cn-header__sectnav cn-header__sectnav--custom">
  <ul class="cn-wrapper">
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/custom/#introduction">Introduction</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/custom/#services">Services</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/custom/#process">Process</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/custom/#faq">FAQ</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/custom/#testimonials">Testimonials</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/custom/#howtoorder">How to Order</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/custom/#terms">Terms</a></li>
  </ul>
</nav>