<nav class="cn-header__sectnav cn-header__sectnav--custom">
  <ul class="cn-wrapper">
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/pages/custom/#introduction">Introduction</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/pages/custom/#services">Services</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/pages/custom/#process">Process</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/pages/custom/#faq">FAQ</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/pages/custom/#testimonials">Testimonials</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/pages/custom/#howtoorder">How to Order</a></li>
    <li class="cn-header__sectnav__custom" onclick="highlightCustomNav()"><a href="/pages/custom/#terms">Terms</a></li>
  </ul>
</nav>