<div class="form-wrapper contact-form-wrapper">  
  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <p class="success">Thank you! We will be in contact with you shortly.</p>
      <script>location.href = "#generalinquiries";</script>
    {% endif %} 

    {% if form.errors %}
      <p class="error">An error has occurred for the following field(s):</p>
      {{ form.errors | default_errors }}
      <script>location.href = "#generalinquiries";</script>
    {% endif %}

    <div class="field-list">
      <div class="form-item field">
          <label class="title" for="contactFormName">Name <span class="required">*</span></label>
          <input class="field-element text" type="text" id="contactFormName" name="contact[name]" required>
      </div>
      <div class="form-item field">
          <label class="title" for="contactFormEmail">Email <span class="required">*</span></label>
          <input class="field-element" type="email" id="contactFormEmail" name="contact[email]" required>
      </div>
      <div class="form-item field">
          <label class="title" for="contactFormSubject">Subject <span class="required">*</span></label>
          <input class="field-element text" type="text" id="contactFormSubject" name="contact[subject]" required>
      </div>
      <div class="form-item field">
          <label class="title" for="contactFormMessage">Message <span class="required">*</span></label>
          <textarea class="field-element" id="contactFormMessage" name="contact[message]" required></textarea>
      </div>
    </div>
    <div class="form-button-wrapper form-button-wrapper--align-center">
        <input type="submit" class="button sqs-system-button sqs-editable-button" id="contactFormSubmit" value="Submit" />
    </div>
  {% endform %}
</div>

<script>
  (function() {
    $(".contact-form-wrapper form#contact_form").validate({
      // Specify validation rules
      rules: {
        // The key name on the left side is the name attribute
        // of an input field. Validation rules are defined on the right side
        "contact[name]": "required",
        "contact[email]": {
          required: true,
          email: true
        },
        "contact[subject]": "required",
        "contact[message]": "required"
      },
      // Specify validation error messages
      messages: {
        "contact[name]": "Please enter your name",
        "contact[email]": "Please enter a valid email address",
        "contact[subject]": "Please enter your subject",
        "contact[message]": "Please enter your message"
      },
      submitHandler: function(form) {
        form.submit();
      }
    });
  })();
</script>