<div class="form-wrapper">  
  {% form 'contact' %}

    {% if form.posted_successfully? %}
      <div class="successForm feedback">
        <p>Thank you! We will be in contact with you shortly.</p>
      </div>
    {% endif %} 
    {% if form.errors %}
      <p>{{ form.errors | default_errors }}</p>
    {% endif %}

    <div class="field-list">
      <div class="form-item field text required">
          <label class="title">Name <span class="required">*</span></label>
          <input class="field-element text" type="text"  id="contactFormName" name="contact[name]">
      </div>
      <div class="form-item field email required">
          <label class="title">Email <span class="required">*</span></label>
          <input class="field-element" type="email"  id="contactFormEmail" name="contact[email]">
      </div>
      <div class="form-item field text required">
          <label class="title">Subject <span class="required">*</span></label>
          <input class="field-element text" type="text" id="contactFormSubject" name="contact[subject]">
      </div>
      <div class="form-item field text required">
          <label class="title">Message <span class="required">*</span></label>
          <textarea class="field-element" id="contactFormMessage" name="contact[body]"></textarea>
      </div>
    </div>
    <div class="form-button-wrapper form-button-wrapper--align-center">
        <input type="submit" class="button sqs-system-button sqs-editable-button" id="contactFormSubmit" value="Submit" />
    </div>
  {% endform %}
</div>