<footer class="cn-footer {% if template == 'page.lookbook.glint' %} collection-layout-lookbook-glint {% endif %}">

    <div class="row cn-wrapper">
        <div class="cn-footer__links twoThird longFirst">
            <div class="row">
                <div class="third">
                    <h3><a class="fx-allFast" href="/pages/faq">faq</a></h3>
                    <p>
                        <a class="fx-allFast" href="/pages/faq#shipping">shipping</a>
                        <a class="fx-allFast" href="/pages/faq#returnsandexchanges">returns and exchanges</a>
                        <a class="fx-allFast" href="/pages/faq#jewelrycare">jewelry care</a>
                        <a class="fx-allFast" href="/pages/faq#repairs">repairs</a>
                    </p>
                </div>
                <div class="third">
                    <h3><a class="fx-allFast" href="/pages/contact">contact</a></h3>
                    <p>
                        <a class="fx-allFast" href="/pages/contact?topic=customwork">custom work</a>
                        <a class="fx-allFast" href="/pages/contact?topic=wholesaleinquiries">wholesale inquiries</a>
                        <a class="fx-allFast" href="/pages/contact?topic=pressinquiries">press inquiries</a>
                    </p>
                </div>
                <div class="third">
                    <h3><a class="fx-allFast" href="/pages/about">about</a></h3>
                    <p>
                        <a class="fx-allFast" href="/pages/about#brand">brand</a>
                        <a class="fx-allFast" href="/pages/about#designer">designer</a>
                        <a class="fx-allFast" href="/pages/about#process">sustainability</a>
                        <a class="fx-allFast" href="/pages/about#stockists">where to buy</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="oneThird longFirst">
            <h3>join our mailing list</h3>

            <form class="cn-emailForm validate" action="//christynatsumi.us2.list-manage.com/subscribe/post?u=f04f5f29de9eb0f93431bcf1c&amp;id=902b73c91f" method="post" name="mc-embedded-subscribe-form" target="_blank">
                <input type="email" value="" name="EMAIL" class="email" placeholder="email address" required><input type="submit" value="sign up" name="subscribe"/>
            </form>

            <div class="cn-footer__social">
                <a class="fx-allFast pinterest" href="//pinterest.com/ChristyNatsumi" target="_blank"><img src="{{ 'icon_sm_pinterest.png' | asset_url }}"/></a>
                <a class="fx-allFast instagram" href="//instagram.com/christynatsumi" target="_blank"><img src="{{ 'icon_sm_instagram.png' | asset_url }}"/></a>
                <a class="fx-allFast facebook"  href="//facebook.com/ChristyNatsumi"  target="_blank"><img src="{{ 'icon_sm_facebook.png' | asset_url }}"/></a>
            </div>
        </div>

        <p class="cn-footer__legal">&#169; Christy Natsumi LLC 2017. All Rights Reserved.</p>
    </div>

</footer>