<header class="cn-header cn-header--notHome cn-header--mobileFixedHeader dolceVita">
    <a class="cn-header__title" itemprop="brand" href="/" alt="{{ page_url }}" ></a>

    <ul class="cn-header__nav dolceVita">
        {% include 'navigation' %}
    </ul>

    {% include 'sectnav-custom' %}
</header>

<div class="cn-header--mini">
    <a class="cn-header__title--mini" href="/" alt="{{ page_url }}" ></a>

    <ul class="cn-header__nav cn-header__nav--mini dolceVita">
        {% include 'navigation' %}
    </ul>

    {% include 'sectnav-custom' %}
</div>

{% include 'mobilenav' %}