<header class="cn-header cn-header--home dolceVita">
    <a class="cn-header__coverImage" itemprop="brand" href="/collections" alt="{{ page_title }}"></a>

    <ul class="cn-header__nav cn-header__nav--home dolceVita">
        {% include 'navigation' %}
    </ul>
</header>

<div class="cn-header--mini">
    <a class="cn-header__title--mini" href="/collections" alt="{{ page_title }}" ></a>

    <ul class="cn-header__nav cn-header__nav--mini dolceVita cn-header__nav--mini--black">
        {% include 'navigation' %}
    </ul>
</div>

{% include 'mobilenav' %}