<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

  {.repeated section items}

    {.main-image?}

      <a class="cn-categoryproduct" href="{fullUrl}">
        <div class="cn-categoryproduct__img content-fill">
          <img data-load="viewport" {@|image-meta}/>
        </div>

        {.section title}
          <div class="cn-categoryproduct__title dolceVita">{@}</div>
        {.end}

        {@|product-status}
      </a>

    {.or}
      <a class="cn-categoryproduct">no product thumbnail</a>
    {.end}

  {.or}
  {.end}



  <!--PAGINATION-->

  {.if pagination}
    <nav>

    <!--NEWER PAGE-->

    {.if pagination.prevPage}
      <a href="{pagination.prevPageUrl}">Newer</a>
    {.or}
      <a class="disabled">Newer</a>
    {.end}

    <!--OLDER PAGE-->

    {.if pagination.nextPage}
      <a href="{pagination.nextPageUrl}">Older</a>
    {.or}
      <a class="disabled">Older</a>
    {.end}

    </nav>
  {.end}

  <squarespace:script src="products-list.js" combo="false" />

{% endcomment %}

{% for product in collection.products %}
  {% if product.images.size > 0 %}
    <a class="cn-categoryproduct" href="{{ product.url }}">
      <div class="cn-categoryproduct__img content-fill">
        <img class="lazyload" src="{{ product.featured_image | img_url : 'grande' }}" alt="{{ product.featured_image.alt }}" />
      </div>
      <div class="cn-categoryproduct__title dolceVita">{{ product.title }}</div>

      {% if product.available == false %}
        <div class="product-mark sold-out">sold out</div>
      {% endif %}
    </a>
  {% else %}
    <a class="cn-categoryproduct">no product thumbnail</a>
  {% endif %}
{% endfor %}