<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

  {.repeated section items}

    {.main-image?}

      <a class="cn-categoryproduct" href="{fullUrl}">
        <div class="cn-categoryproduct__img content-fill">
          <img data-load="viewport" {@|image-meta}/>
        </div>

        {.section title}
          <div class="cn-categoryproduct__title dolceVita">{@}</div>
        {.end}

        {@|product-status}
      </a>

    {.or}
      <a class="cn-categoryproduct">no product thumbnail</a>
    {.end}

  {.or}
  {.end}



  <!--PAGINATION-->

  {.if pagination}
    <nav>

    <!--NEWER PAGE-->

    {.if pagination.prevPage}
      <a href="{pagination.prevPageUrl}">Newer</a>
    {.or}
      <a class="disabled">Newer</a>
    {.end}

    <!--OLDER PAGE-->

    {.if pagination.nextPage}
      <a href="{pagination.nextPageUrl}">Older</a>
    {.or}
      <a class="disabled">Older</a>
    {.end}

    </nav>
  {.end}

  <squarespace:script src="products-list.js" combo="false" />

{% endcomment %}
