<!-- /templates/page.lookbook.glint.liquid -->
<div class="lookbook lookbook--glint">

    <div class="lookbook--glint__header lookbook-w-full">
        <h1 class="lookbook--glint__h1">the new collection<br/><a href="/collections">available now</a></h1>
    </div>

    <a class="lookbook--glint__2  lookbook-w-half lookbook-h-150 lookbook-border-right" href="/collections"></a>
    <a class="lookbook--glint__3  lookbook-w-half lookbook-h-150" href="/collections"></a>
    <a class="lookbook--glint__4  lookbook-w-full lookbook-h-041" href="/collections"></a>
    <a class="lookbook--glint__5  lookbook-w-half lookbook-h-150 lookbook-border-right" href="/collections"></a>
    <a class="lookbook--glint__6  lookbook-w-half lookbook-h-150" href="/collections"></a>
    <a class="lookbook--glint__7  lookbook-w-full lookbook-h-052" href="/collections"></a>
    <a class="lookbook--glint__8  lookbook-w-half lookbook-h-125 lookbook-border-right" href="/collections"></a>
    <a class="lookbook--glint__9  lookbook-w-half lookbook-h-125" href="/collections"></a>
    <a class="lookbook--glint__10 lookbook-w-half lookbook-h-150 lookbook-border-right" href="/collections"></a>
    <a class="lookbook--glint__11 lookbook-w-half lookbook-h-150" href="/collections"></a>
    <a class="lookbook--glint__12 lookbook-w-full lookbook-h-052" href="/collections"></a>
    <a class="lookbook--glint__13 lookbook-w-half lookbook-h-150 lookbook-border-right" href="/collections"></a>
    <a class="lookbook--glint__14 lookbook-w-half lookbook-h-150" href="#" target="_blank"></a>
    <a class="lookbook--glint__15 lookbook-w-half lookbook-h-100 lookbook-border-right" href="/collections"></a>
    <a class="lookbook--glint__16 lookbook-w-half lookbook-h-100" href="/collections"></a>
    <a class="lookbook--glint__17 lookbook-w-full lookbook-h-062" href="/collections"></a>
    <a class="lookbook--glint__18 lookbook-w-half lookbook-h-150 lookbook-border-right" href="/collections"></a>
    <a class="lookbook--glint__19 lookbook-w-half lookbook-h-150" href="/collections"></a>
    <a class="lookbook--glint__20 lookbook-w-half lookbook-h-125 lookbook-border-right" href="/collections"></a>
    <a class="lookbook--glint__21 lookbook-w-half lookbook-h-125" href="/collections"></a>


    <div class="lookbook--glint__footer lookbook-w-full">
        <div class="lookbook--glint__footer__content">
            <div class="lookbook--glint__footerLogo"></div>
            <p>
                The Glint Collection envisions ease and luxury with a light-hearted mood. Focusing on substantial
                pieces that can be worn everyday, the collection is full of subtle quirks and little winks: conflict-free
                diamonds set off-center, gold fringe that lightly sways with movement, pearl-like spheres that are
                made of solid gold and silver, matte finished surfaces with a glimmer of high polished edges.
                For the modern and minimalist lover with a twinkle in her eye.
            </p>

            <p>
                <a class="lookbook__btn" href="/collections">explore the collection</a>
            </p>

            <div class="row">
                <div class="lookbook--glint__footer__content__creditTitle">
                    <h4>Photography</h4>
                </div>
                <div class="lookbook--glint__footer__content__creditName">
                    <p>Greg Comstock</p>
                </div>
            </div>

            <div class="row">
                <div class="lookbook--glint__footer__content__creditTitle">
                    <h4>Styling</h4>
                </div>
                <div class="lookbook--glint__footer__content__creditName">
                    <p><a href="//www.christynatsumi.com/" target="_blank">Christy Natsumi</a></p>
                    <p><a href="https://sarahowenstudio.com/" target="_blank">Sarah Owen</a></p>
                </div>
            </div>

            <div class="row">
                <div class="lookbook--glint__footer__content__creditTitle">
                    <h4>Background Art</h4>
                </div>
                <div class="lookbook--glint__footer__content__creditName">
                    <p><a href="https://sarahowenstudio.com/" target="_blank">Sarah Owen</a></p>
                </div>
            </div>

            <div class="row">
                <div class="lookbook--glint__footer__content__creditTitle">
                    <h4>Location</h4>
                </div>
                <div class="lookbook--glint__footer__content__creditName">
                    <p><a href="https://sarahowenstudio.com/seo-studio/" target="_blank">SEO Studio</a></p>
                </div>
            </div>
        </div>
    </div>

</div>