<!-- /templates/page.contact.liquid -->
{% comment %}

  This page template is a requirement if you are submitting your theme to the Shopify Theme Store.
  Be sure to select page.contact as the template from the admin page to have this template take effect.

  For information on adding more fields, visit:
    - http://docs.shopify.com/support/configuration/store-customization/adding-fields-to-the-liquid-contact-form

{% endcomment %}

<main>
    <div class="cn-wrapper cn-wrapper--top cn-contactpage">
        <div class="row">
            <div class="half">
                <div class="cn-contactpage__map">
                    <iframe class="cn-imageFrame" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJuZnvE4aAhYAR9MpkvyAS0GE&key=AIzaSyC1wL53RHgOEkDbKztZBk0I2NiIqwm-oh4"></iframe>
                </div>
            </div>
            <div class="half">
                <p>Christy Natsumi's workshop is located in downtown San Francisco, CA. Consultation and private workshop visits are available by appointment only (no walk ins will be accepted). Looking forward to connecting with you!</p>

                <div class="row row--btnRow">
                    <div class="half">
                        <span>schedule a</span>
                        <a class="button" href="/workshop-visit">workshop visit</a>
                    </div>
                    <div class="half">
                        <span>inquire about</span>
                        <a class="button" href="/custom/#howtoorder">custom jewelry</a>
                    </div>
                </div>

                <h3>general inquiries:</h3>
                {% section 'contact-form' %}
            </div>
        </div>
    </div>

    {% comment %}
      <!--Injection point for tracking scripts and user content from the code injection tab. Only used for confirmation page now-->
      {squarespace-footers}
    {% endcomment %}
</main>