<!-- /templates/page.faq.liquid -->
<main>
    <div class="cn-wrapper cn-wrapper--top cn-simplepage cn-faqpage">
        <h3>Christy Natsumi Jewelry</h3>
        <p>
            By purchasing from Christy Natsumi Jewelry, you are supporting a small business that works with artisans and skilled goldsmiths in San Francisco, CA. Everything is lovingly made in San Francisco, except for some chain components that are made in USA. We are dedicated to keeping manufacturing local, green, and safe for both the worker and the environment as much as possible. All jewelry is made with precious metals including 100% genuine sterling silver and 14K gold.
        </p>


        <h3>Ready to Order?</h3>
        <p>
            Thank you for your interest in our jewelry! We love jewelry so much that we believe every piece of jewelry should be special and high quality. This means in most cases our jewelry is made made to order. From order, creation, to shipment, we ask for 10-15 business days. Delivery time is regularly updated and noted for each item in the description. Need it quicker? In most cases, we are happy to accommodate rush deliveries. <a href="/pages/contact">Just let us know</a>.
        </p>
        <p>
            Sales tax of 8.75% will be charged for California residents.
        </p>


        <h3>Personalization</h3>
        <p>
            Since our jewelry is made to order, we have flexibility when it comes to ring sizes, chain lengths, and metal options. Please <a href="/pages/contact">contact us</a> to discuss your personalization options. Additional fees may apply. All sales are final for customized pieces.
        </p>

        <h3>Payment</h3>
        <p>
            All payments are processed through PayPal. Once checking-out on PayPal's website, you may elect to use your credit card (Visa, Master Card, Discover, American Express) or direct deposit from your bank. Payment is expected at time of purchase. We do not offer payment plans.
        </p>


        <a class="cn-anchor" name="shipping"></a>
        <h3>Shipping</h3>
        <p>
            All items will be shipped and insured via USPS Priority Mail within the US. Insurance and signature confirmation are mandatory for all orders and included in the flat shipping rate. Additional shipping fees apply for custom, personalized, and 14K gold jewelry which will be insured for their full value. Please note that once delivery is confirmed through the carrier, neither Christy Natsumi or USPS is responsible for the security of the jewelry mailed.
        </p>
        <p>
            Expedited shipping is available upon request, <a href="/pages/contact">just drop us a line</a>.
        </p>
        <p>
            International shipping is available for select countries. Please note any taxes, duties, and customs fees associated with shipping outside of the United States are the sole responsibility of the purchaser. <a href="/pages/contact">Contact us here</a> for further information.
        </p>


        <a class="cn-anchor" name="returnsandexchanges"></a>
        <h3>Returns and Exchanges</h3>
        <p>
            If you are not satisfied with your purchase, merchandise in new and unworn condition, in it's original packaging may be returned within 7days of receipt, excluding shipping costs. Customers are responsible for return shipping. Please note that we are not responsible for lost or stolen items in the mail. When returning your merchandise we strongly suggest adding insurance to the shipment for the dollar amount of the merchandise.</p>
        <p>
            Custom and personalized jewelry, sale items, and any rings in special sizes are non-refundable.
        </p>
        <p>
            Please <a href="/pages/contact">contact us for a return authorization code</a>. Returned merchandise without a code will not be accepted.
        </p>


        <a class="cn-anchor" name="repairs"></a>
        <h3>Repairs</h3>
        <p>
            We pride ourselves in creating high quality jewelry and meticulously check each piece before shipping. However, jewelry is delicate by nature. If your jewelry needs repairs, we are happy to be of assistance for any product purchased through ChristyNatsumi.com. Additional cost may be required depending on the nature of the repair. Customers are responsible for shipping costs. Please <a href="/pages/contact">contact us</a> for further information.
        </p>


        <h3>Custom, Personalized, and Special Occasion Jewelry</h3>
        <p>
            Do you have an idea for a one-of-a-kind jewelry piece? Are you looking looking for an engagement ring, but don't know where to start?
        </p>

        <p>
            Christy Natsumi offers custom jewelry creation, design assistance, diamond education and consultation. Creating custom jewelry to celebrate your love is one our favorite things to do! <a href="/pages/custom">Check out our custom orders page</a> for more information.
        </p>


        <a class="cn-anchor" name="jewelrycare"></a>
        <h3>Jewelry Care</h3>
        <p>
            To ensure the longevity of the pieces we recommend protecting your purchase by removing the items during activities such as exercise, sleep, and while handling harsh chemicals such are chlorine, salt water, perfumes, cleaning agents, and lotions, among other substances.
        </p>
        <p>
            Sterling silver naturally tarnishes. This can be beautiful and add to the uniqueness of each piece. However, if you like to keep your silver sparkling, you can maintain it’s high shine by cleaning it in warm mild soapy water. A soft polishing cloths can be used as well. Storing silver jewelry in air-tight zip lock bags can help to slow the process of oxidation. 14K Gold will not tarnish and can be cleaned with warm mild soapy water.
        </p>
        <p>
            If you have any questions about maintaining your Christy Natsumi purchase, please feel free to <a href="/pages/contact">contact us</a>
        </p>


        <h3>Wholesale</h3>
        <p>
            If you think Christy Natsumi Jewelry will be the perfect addition to your brick and mortar or web store, please <a href="/pages/contact">send us a note</a>.
        </p>


        <h3>Privacy Policy</h3>
        <p>
            We would love to have you sign up for our mailing list to receive occasional news of new jewelry and one-of-a-kind pieces, events, and promotions. Your business and privacy is of utmost importance to us. We will never share your information with any third-party for any reason. You can voluntarily opt-out of the mailing list at any time.
        </p>
    </div>
</main>